* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(250, 243, 248);
    font-size: 18px;   
    text-align: justify;
    min-height: 100vh;
    width: 100%;
}
.head{
    background-color: rgb(208, 234, 244);
    background-image: url("../images/bg-hero-desktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2% 2% 0 2%;

}
.nvbar {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 30px; */
}
.nvbar > img {
    width: 150px;
    height: 32px;
    margin: 10px 20px;
}
.btn {
    padding: 10px 35px;
    margin: 10px;
    border-radius: 26px;
    background-color: hsl(193, 100%, 96%);
    border-width: 0px;   
    font-weight: 700;
}
.btn:hover {
    border-width: 1px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
}
.head2 {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 25px;
}
.textbox {
    width: 40%;
    margin-top: 5%;
    margin-left: 20px;
    padding: 35px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.textbox > h1 {
    margin: 15px 0;
}
.textbox > p {
    margin: 15px 0;
}
.textbox > button {
    background-color:  rgb(242, 106, 192);
    padding: 15px 17%;
    margin: 15px 0;
    color: white;
    font-weight: 700;
    border: 0.5px solid #fff;
}
.images {
    padding: 0 5% 5% 5%;
    width: 60%;
}
.images > img {
    height: 100%;
    width: 100%;
}

/* middle section */
.middle {
    height: auto;
    width: 100%;
    padding: 5%;
}
.col2 {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
    border: 0.3px ridge rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    margin: 30px;
    padding: 2% 5%;
    display: flex;
}
.col3 {
    display: flex;
    flex-direction: row-reverse;
}
.textcontainer {
    padding: 7% 1% ;
    flex-basis: 50%;
}
.textcontainer > h3 {
    padding: 5px;
}
.textcontainer > p {
    padding: 5px;
}
.imgz {
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.img1 {
    background-image: url("../images/illustration-grow-together.svg");
}
.img2 {
    background-image: url("../images/illustration-flowing-conversation.svg");
}
.img3 {
    background-image: url("../images/illustration-your-users.svg");
}
.col {
    width: 50%;
    margin: auto;
    padding: 40px 20px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -70px;
    background-color: rgb(250, 243, 248);
    z-index: 2;
}
.col > button {
    background-color:  rgb(242, 106, 192);
    padding: 10px 40px;
    margin: 20px;
    color: #ffffff;
}
/* Footer section */
.footer {
    height: auto;
    padding: 3%;
    z-index: 1;
    color: #ffffff;
    background-color: rgb(0, 37, 46);
}
.foot {
    font-size: medium;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.foot1 {
    display: flex;
    flex-direction: column;
    flex: 0 0 30%;
    padding: 10px 35px 10px 35px;
}
.foot2 {
    flex-basis: 33.33%;
    padding: 10px 35px 10px 35px;
    display: flex;
    flex-direction: column;
}
.sec {
    display: flex;
    flex-direction: row;
    margin: 8px;
}
.sec > img {
    width: 18px;
    height: 18px;
    margin: 10px 15px;
}
.sec > p {
    padding: 10px 15px;
    font-size: small;
}
.foot2 > p {
    margin: 8px;
    padding: 8px;
}
.foot2 > ul {
    margin: 2px 12px;
    padding: 2px 12px;
}
.foot2 > ul > li > a {
    text-decoration: none;
    font-size: small;
    color: #ffffff;
}
#copyright {
    margin-top: 5px;
    display: flex;
    flex-direction: row-reverse;
    font-size: small;
}


/* media Quaries */
@media  screen and (max-width: 375px) {
    body {
        text-align: center;
    }
    .head {
        background-image: url("../images/bg-hero-mobile.svg");
        padding: 0;
    }
    .head2 {
        height: auto;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .textbox {
        width: 100%;
        margin: 0;
        align-items: center;
        padding: 15px;
    }
    .images {
        width: 100%;
    }
    .col2, .col3 {
        flex-direction:column-reverse;
        padding: 0;
    }
    .imgz {
        height: 275px;
        width: 100%;
    }
    .col {
        width: 90%;
        flex-direction: column;
    }
    .footer {
        padding-top: 90px;
        text-align: justify;
    }
    .footer > h1 {
        margin-left: 35px;
    }
    .foot {
        display: block;
        text-align: justify;
    }
    .foot1, .foot2 {
        display: block;
        margin: 0;
    }
    .sec {
        margin: 0;
    }
    .foot2 > p,ul {
        margin: 0 8px;
    }

}
